.page {
    height: 100%;
    padding-top: 64px;
}

.picture {
    position: absolute;
    z-index: -1;
    top: -164px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 480px;
    min-height: 480px;
}

.container {
    width: 343px;
    margin: 0 auto;
}

.title {
    margin-top: 32px;
    color: var(--gray900);
    font-size: var(--display-sm);
    font-weight: 600;
}

.subtitle {
    margin-top: 16px;
    color: var(--gray600);
    font-size: var(--text-lg);
    line-height: 28px;
}

.form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.form button {
    margin-top: 12px;
}

@media (width >= 1280px) {
    .page {
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    .container {
        width: 512px;
    }

    .picture {
        top: -196px;
        width: 768px;
        height: 768px;
    }

    .title {
        margin-top: 48px;
    }

    .subtitle {
        margin-top: 20px;
    }
}